.portfolio {
  text-align: center;

  .portfolio-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    border: 3px solid #000000;
    min-height: auto;
    height: 150px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s;
  }

  .portfolio-item:hover {
    transform: scale(1.1,1.1);
  }

  i {
    font-size: 32px;
  }

  img {
    min-width: 100%;
    min-height: 100%;
  }

  a {
    text-decoration: none;
    color: #000000;
  }


}